<% include header %>
<div class="row">
	<div class=" movieDetail col-md-8">
		<h3>Title: <%=Title%></h3>
		<p><strong>Year: </strong><%=Year%></p>
		<p><strong>Genre: </strong><%=Genre%></p>
		<p><strong>Actors: </strong><%=Actors%></p>
		<p><strong>Rotten Tomatoes Score: </strong><%=tomatoMeter%></p>
	</div>
	<div class="col-md-4">
		<aside class="poster"><img src=<%=Poster%> class="poster"></aside>
	</div>
</div>
<% include footer %>